.tumbler-button {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  margin: 2px;
  padding: 4px 4px 8px 8px;
  border: 0 solid #005a9c;
  border-radius: 5px;
  background-color: #282a31;
  color: white;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.tumbler-button:focus,
.tumbler-button:hover {
  padding: 4px 4px 8px 8px;
  border-width: 0;
  outline: none;
  background-color: #1c1f26;
}

.tumbler-button .label {
  position: relative;
  top: 0;
  display: inline-block;
  padding: 0;
  margin-right: 8px;
  margin-bottom: 0;
  width: auto;
  vertical-align: middle;
  color: white;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}

.tumbler-button svg {
  display: inline-block;
  width: 36px;
  height: 20px;
  forced-color-adjust: auto;
  position: relative;
}

.tumbler-button svg rect {
  fill-opacity: 0;
  stroke-width: 2;
  stroke: currentcolor;
}

.tumbler-button svg rect.off {
  display: block;
  stroke: currentcolor;
  fill: currentcolor;
  fill-opacity: 1;
}

.tumbler-button[aria-checked="true"] svg rect.off {
  display: none;
}

.tumbler-button svg rect.on {
  display: none;
}

.tumbler-button[aria-checked="true"] svg rect.on {
  color: #a23dff;
  display: block;
  stroke-color: currentcolor;
  fill: currentcolor;
  fill-opacity: 1;
}

.tumbler-button span.off,
.tumbler-button span.on {
  display: inline-block;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  position: relative;
  bottom: 0;
}

.tumbler-button span.on {
  display: none;
}

.tumbler-button[aria-checked="true"] span.off {
  display: none;
}

.tumbler-button[aria-checked="true"] span.on {
  display: inline-block;
}

.tumbler-button:focus,
.tumbler-button:hover {
  padding: 2px 2px 6px 6px;
  border-width: 0;
  outline: none;
  background-color: #1c1f26;
}

.active {
  display: block;
}

.tumbler-button span.off {
  display: inline-block;
  margin-left: 8px;
}

.tumbler-button span.on {
  display: none;
  margin-left: 8px;
}
